<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416905473468-7pfmgcise5rlem5dqoktlj56glldbgl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416905473468-7pfmgcise5rlem5dqoktlj56glldbgl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSXg-GeHaZlriECXSfGq1pBg1fIV9TsH0</string>
	<key>GCM_SENDER_ID</key>
	<string>416905473468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonnt.FPEU1</string>
	<key>PROJECT_ID</key>
	<string>fpnoti-90e34</string>
	<key>STORAGE_BUCKET</key>
	<string>fpnoti-90e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416905473468:ios:c39c987f665f12d59b4fb9</string>
</dict>
</plist>